# Directories
__pycache__/
*.egg*/
build/
dist/
params/
data/
!data/dndz/*_DIR.txt
legacy/
other/
output_*/
cobaya_old/
cobaya_test/
cobaya_lensing/
.spyproject/

# File extensions
*.pyc
*.h5
*.npy
#!hm_correction.npy
*.npz
*.mcm
*.cmcm
*.out
*.sh

# Others
.bashrc
job*.sh.sh
python.sh
anafast_all.pdf
namaster_all.pdf
